.sidebar {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
    background: #19B5FE;
    padding: 30px 0;
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: white;
}

.sidebar h3 {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.sidebar h4 {
    text-transform: uppercase;
    color: #0D5B80;
}

.sidebar ul {
    width: 100%;
    list-style: none;
}

.sidebar ul li .link{
    display: block;
    width: 100%;
    padding: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.sidebar ul li .link {
    text-decoration: none;
    width: 100%;
    padding: 30px;
    color: white;
}

.sidebar ul li:hover {
    color: #19B5FE;
    background: white;
}

.sidebar ul li:hover .link {
    color: #19B5FE;
}

