.geral-content {
    width: 100vw;

}

.nav-user {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F4F4F4;
}

.homelogo {
    position: absolute;
    top: auto;
    left: 50px;
    background: none;
}

.homelogo svg {
    width: 40px;
    height: 40px;
    background: none;
}

.search-box {
    width: 500px;
    display: flex;
    align-items: center;
    background: none;
    margin: 10px;
}

.search-box .search {
    border-radius: 29px 0px 0px 29px;
    box-shadow: none;
}

.search-box svg {
    width: 40px;
    height: auto;
    background: none;
    margin-right: 10px;
    color: #19B5FE;
}

.button-search {
    margin: 0px;
    box-shadow: none;
    height: 50px;
    border-radius: 0px 29px 29px 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    font-weight: bold;
    font-size: 20px;
    color: #19B5FE;
    outline: none;
    cursor: pointer;
    transition: all .05s ease-in-out;
}

.button-search:hover {
    background: #19B5FE;
    color: white;
}

.nav-links {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.nav-ul {
    background: none;
    display: flex;
}

.link {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    background: none;
}

.link:hover {
    background: #E9E9E9;
}

.link svg {
    width: 25px;
    height: auto;
    background: none;
    margin-right: 10px;
}

.contents {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-second {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.ulcateg {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ulcateg .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F4F4F4;
    border-radius: 0px;
    transition: all 0.20s ease-in-out;
}

.ulcateg .item:nth-child(1){
    border-radius: 29px 0px 0px 29px;
}

.ulcateg .item:last-child {
    border-radius: 0px 29px 29px 0px;
}

.item:hover {
    background: #19B5FE;
    color: white;
    height: 60px;
}

.restaurants {
    width: 1171.58px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter .title-second {

    text-transform: uppercase;
}

.filter button {
    position: relative;
    right: auto;
    margin: 10px;
}


