.content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-right: 0;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.content-box:hover {
    background: #19B5FE;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.1);;
}

.content-box:hover h2, .content-box:hover h4 {
    color: white;
}

.content-box img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 100%;
}

.content-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 20px;
}

.content-box div h2 {
    text-transform: uppercase;
}

.content-box h2 {
    display: block;
    color: #19B5FE;
}

.content-box .open {
    width: 100%;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #1EDA00;
}

.content-box .close {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: red;
}

.content-box div + div {
    height: 100%;
    position: relative;
    /* transform: rotate(90deg); */
    left: auto;
    font-weight: lighter;
    color: #0D5B80;
}

.content-box div + div h3 {
    font-size: 20px;
    font-weight: normal;
}

.content-box .info {
    display: flex;
    flex-direction: row;
}

.content-box .info .name-info{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
}

.content-box .info .name-info .state {
    margin: 0;
    align-self: flex-start;
}

.content-box .info .name-info div .categs {
    margin-left: 10px;
    color: gray;
    opacity: 0.6;
}

.content-box .info .name-info div .categs + .categs:before {
    content: '•';
    margin-right: 10px;
}

.content-box:hover .info .name-info div .categs {
    color: white;
    opacity: 0.6;
}

