.geral-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
    border-radius: 29px;
    width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 200px;
}
input {
    width: 100%;
}

input + input {
    margin-top: 8px;
}

.title {
    color: #19B5FE;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.button-form {
    height: 50px;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 20px;
    color: #19B5FE;
    outline: none;
    cursor: pointer;
    transition: all .05s ease-in-out;
}

.button-form:hover {
    background: #19B5FE;
    color: white;
}

.sub {
    font-size: 14px;
    font-weight: normal;
    color: #AAAAAA;
}

.load {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}
