.geral-box {
    position: relative;
    top: 150px;
    left: auto;
    display: flex;
    align-items: center;
    
}

p {
    font-size: 20px;
    align-self: flex-start;
    background: none;
    margin-top: 15px;
    color: #19B5FE;
}

.ul {
    background: none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 8px;
}

.list {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    background: white;
    color: #19B5FE;
    padding: 15px;
    border-radius: 29px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.list:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}

.selected {
    background: #19B5FE;
    color: white;
}